body {
    background-image: linear-gradient(to left, rgb(120, 120, 240), rgb(211, 121, 121));
    font-family:  "Helvetica", "Arial", sans-serif;  
}

img {
    max-width: 500px;
}

ul {
    margin-top: -1rem;
}

p {
    max-width: 900px;
}

.mainheadersandimage {
    background-color: white;
    padding: 2rem;
    max-width: 100%;
    margin: 4rem auto;
    margin-bottom: -0.5rem;
    text-align: center;
}

.subheader {
    margin-top: -1rem;
}
